<!-- Add Stimulus -->
<header class="fixed top-0 z-50 w-full text-sm py-4 border-b-2 border-b-slate-900 bg-white">
  <nav class="max-w-[85rem] w-full mx-auto px-4 flex flex-wrap basis-full items-center justify-between">
    <a class="sm:order-1 flex-none text-3xl text-black font-bebas focus:outline-none focus:opacity-80" href="#">Copywrite</a>
    <div class="sm:order-3 flex items-center gap-x-2">
      <button type="button" class="pt-[11px] pb-[12px] px-5 inline-flex items-center gap-x-2 text-sm font-medium rounded-md border border-slate-200 bg-white text-slate-800 shadow-sm hover:bg-slate-800 hover:text-sky-300 focus:outline-none disabled:opacity-50 disabled:pointer-events-none">
        Contact Us
      </button>
      <button type="button" class="sm:hidden hs-collapse-toggle relative size-11 flex justify-center items-center gap-x-2 rounded-lg border border-slate-200 bg-white text-slate-800 shadow-sm hover:bg-slate-800 hover:text-sky-300 focus:outline-none focus:bg-slate-800 focus:text-sky-3 disabled:opacity-50 disabled:pointer-events-none" id="hs-navbar-alignment-collapse" aria-expanded="false" aria-controls="hs-navbar-alignment" aria-label="Toggle navigation" data-hs-collapse="#hs-navbar-alignment">
        <svg class="hs-collapse-open:hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
        <svg class="hs-collapse-open:block hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        <span class="sr-only">Toggle</span>
      </button>
      
    </div>
    <div id="hs-navbar-alignment" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:grow-0 sm:basis-auto sm:block sm:order-2" aria-labelledby="hs-navbar-alignment-collapse">
      <div class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:mt-0 p-1 border border-white rounded-md">
        <a class="pt-[11px] pb-[12px] px-5 font-medium text-slate-800 focus:outline-none bg-white rounded" href="#" aria-current="page">Home</a>
        <a class="pt-[11px] pb-[12px] px-5 font-medium text-slate-800 rounded-lg border-transparent border hover:text-sky-800 hover:border hover:border-slate-200 focus:outline-none focus:text-sky-800" href="#">About Us</a>
        <a class="pt-[11px] pb-[12px] px-5 font-medium text-slate-800 hover:text-sky-800 focus:outline-none focus:text-sky-800" href="#">Clients</a>
        <a class="pt-[11px] pb-[12px] px-5 font-medium text-slate-800 hover:text-sky-800 focus:outline-none focus:text-sky-800" href="#">Reviews</a>
        <a class="pt-[11px] pb-[12px] px-5 font-medium text-slate-800 hover:text-sky-800 focus:outline-none focus:text-sky-800" href="#">Our Work</a>
        <a class="pt-[11px] pb-[12px] px-5 font-medium text-slate-800 hover:text-sky-800 focus:outline-none focus:text-sky-800" href="#">Job Opportunities</a>
        <a class="pt-[11px] pb-[12px] px-5 font-medium text-slate-800 hover:text-sky-800 focus:outline-none focus:text-sky-800" href="#">Press</a>
      </div>
    </div>
  </nav>
</header>