<section id="about" class="flex justify-center items-center w-full bg-yellow-500 mt-20 pt-8 lg:pt-16 px-4">
  <div class="max-w-[45rem] w-full bg-white mt-16 p-4 2xl:pt-24 xl:pt-16 rounded-t-lg">
    <h2 class="text-center text-3xl text-indigo-500 font-bold">About Us</h2>
    <h3 class="text-center text-lg text-indigo-700 font-medium pb-4">Helping Businesses Grow Since 2015</h3>
    <p class="text-center pb-4">
      LKM Creative is a team of broadly expreienced copywriters, helping business grow all around the world - from our humble headquarters in Johannesburg, South Africa.
    </p>
    <h2 class="text-center text-3xl text-indigo-500 font-bold py-4">Our Story</h2>
    <p class="text-center pb-4">
      LKM (short for Lauren Kirsty Meikle) started when founder, Lauren, wanted to use her writing skills to make a difference for businesses far and wide - especially small teams in need of affordable copywriting to tell their story and increase online conversions.
    </p>
    <!-- YouTube video iframe-->
    <div class="flex justify-center items-center border rounded shadow-lg py-2 mb-4">
      <iframe width="560" height="315" src="https://fiverr-res.cloudinary.com/video/upload/t_fiverr_hd/v1/video-attachments/seller_intro_video/attachment/68d4893946a4ec16beb20315a57e7380-1719574089101/New%20Fiverr%20Intro%20Video" title="Fiverr Intro Video" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <p class="text-center pb-4">
      As LKM Creative started to grow, Lauren could no longer work alone. And so, her husband, Shaun Gouws, took the reins as Producer and head of client communication. LKM's growth and popularity didn't slow down, and today, we are a humble 5-member team of creative minds who are passionate about telling stories.
    </p>
    <p class="text-center pb-4">
      Based in Johannesburg, South Africa, we provide professional copywriting services for small-large businesses all over the world, from tiny start-ups to thriving Fortune 500s. From Honda to Emirates to the revolutionary quirky product ideas emerging every day, we do it all - and we can do it for you too.
    </p>
  </div>
</section>

<section id="team" class="flex justify-center items-center w-full bg-yellow-500 pb-8 lg:pb-16 px-4">
  <div class="max-w-[45rem] w-full bg-white mb-16 p-4 2xl:pb-24 xl:pb-16 rounded-b-lg">
    <h2 class="text-center text-3xl text-indigo-500 font-bold py-4">Meet the Team</h2>
    
    <!---- Producer block -->
    <div class="flex flex-col justify-center items-center py-2">
      <!--card 1-->
      <div class="flex w-full justify-center items-center py-4">
        <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl">
          <%= image_tag("7014.jpg", class: "object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg", alt: "Lauren Gouws") %>
          <div class="flex flex-col justify-between p-2 leading-normal">
              <h5 class="text-lg font-bold tracking-tight text-gray-900 bg-rose-100 rounded-e-full ps-1">Lauren Gouws</h5>
              <h6 class="font-medium ps-1">Founder</h6>
              <p class="text-sm text-gray-700">
                Lauren is a passionate wordsmith and Entrepreneur cover girl. Coupled with caffeine and a good night's sleep, her writing has been known to help businesses of all shapes and sizes increase their traffic online and off. When she's not working, Lauren enjoys spending time with her husband and daughter.
              </p>
          </div>
        </div>
      </div>
      <!--card 2-->
      <div class="flex w-full justify-center items-center py-4">
        <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl">
          <%= image_tag("02121.jpg", class: "object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg", alt: "Shawn Gouws") %>
          <div class="flex flex-col justify-between p-2 leading-normal">
              <h5 class="text-lg font-bold tracking-tight text-gray-900 bg-teal-100 rounded-e-full ps-1">Shawn Gouws</h5>
              <h6 class="font-medium ps-1">Producer</h6>
              <p class="text-sm text-gray-700">
                Your first point of communication, Shaun is an experienced industry producer who runs a tight ship at LKM. After years of experience producing countless TV commercials for big agencies and international brands, Shaun built LKM with Lauren to change the way companies commission copy.
              </p>
          </div>
        </div>
      </div>
      <!--card 3-->
      <div class="flex w-full justify-center items-center py-4">
        <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl">
          <%= image_tag("6a1e.jpg", class: "object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg", alt: "Warrick Bews") %>
          <div class="flex flex-col justify-between p-2 leading-normal">
              <h5 class="text-lg font-bold tracking-tight text-gray-900 bg-yellow-100 rounded-e-full ps-1">Warrick Bews</h5>
              <h6 class="font-medium ps-1">Senior Copywriter</h6>
              <p class="text-sm text-gray-700">
                Constantly chasing the next version of himself, Warrick is passionate about learning and growing. With the wonder he finds in what words can achieve when amassed, Warrick spends his days rearranging the sentences in his head - translating them into stories on the page. 
              </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Highlighted link -->
    <div class="flex justify-center items-center py-2">
      <span class="before:block before:absolute before:-inset-1 before:-start-2 before:-end-2 before:rounded-sm before:bg-yellow-200 relative inline-block">
        <span class="relative border border-slate-600 rounded-sm py-2 px-4">
          <%= link_to "Ask a question", pages_contact_path, class: "font-medium" %>
        </span>
      </span>
    </div>
  </div>
</section>
